*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* Navbar */
nav {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: 0.5s;
  }
  
  .logo {
    font-size: 1.6em;
    transition: 0.5s;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right: 9rem;
    margin-top: 0;
  }
  
  ul li {
    padding-right: 1.7rem;
  }
  
  nav a:hover {
    color: white;
    border-bottom: 1px solid white;
  }
  
  nav a {
    color: rgb(211, 211, 211);
    font-weight: thin;
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: 0.5s;
  }
  
  .hamburger {
    padding-right: 2.9rem;
    display: none;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 32px;
    height: 3px;
    margin: 4px;
    background-color: antiquewhite;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 769px) {
    .hamburger {
      display: block;
    }
  
    body {
      overflow-x: hidden;
    }
  
    nav {
      position: fixed;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.92);
      top: 0;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      opacity: 0.9;
    }
  
    .nav-links li {
      opacity: 0;
    }
  }
  .nav-active {
    transform: translateX(0%);
  }
  
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .fade-in {
    animation: navLinkFade 0.5s ease forwards;
  }
  
  .nav-links li {
    animation-delay: calc(var(--index) / 7 * 1s + 0.5s);
  }
  
  .reverse-animation {
    animation-direction: reverse !important;
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  /* Splash */
  .splash h2{
    font-size: clamp(1.5rem, 5vw, 3rem);
    letter-spacing: 2px;
  }
  .splash h1{
    font-size: clamp(2.5rem, 7vw, 6rem);
    letter-spacing: 2px;
  }
  .splash p{
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .splash button{
    padding: .7rem 2rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    background-color: #c61919;
    color: white;
    cursor: pointer;
  }
 

  .splash{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60dvh;
    background-image: url('images/pexels-garvin-st-villier-3311574.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #333333ba;
    color: white;
  }
  .splash-content{
    padding-left: 10px;
  }

  .services{
    max-width: 1180px;
    margin: 0 auto;
  }

  .services h2{
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 2rem 1rem;
    padding-left: 10px;
  }

  .service-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .services-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .service-content > div{
    flex: 1 1 300px;
    margin: 0 1rem;
    padding: 0 1rem;
  }

  .service-galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
    padding-bottom: 2rem !important;
  }
  .service-img{
   width: 100%;
   height: 193px;
   overflow: hidden;
  } 

  .service-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  .services p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 768px){
    .service-content > div{
      flex: 1 1 100%;
    }
    .service-galery{
      grid-template-columns: repeat(1, 1fr);
    }
    
  }

  .galery h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 2rem 1rem;
    padding-left: 10px;
    text-align: center;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
  }

  .images {
    flex: 1 1 300px;
    margin: 1rem;
    padding: 1rem;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }